* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
  background-color: black;
}
.home {
    position: relative;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-size: 2.5em;
    letter-spacing: 2px;
    transition: 0.6s;
    text-transform: lowercase;
    margin-top: 10px;
    margin-left: 20px;
    display: block;
}

.video {
    text-align: center;
    margin-top: 100px;
    display: flex; 
    margin-left: 50px;
    
    

}
.vid1 {
    border: 2px solid green;
    margin-right: 20px;
    
}
.vid2 {
    border: 2px solid green;
    margin-right: 20px;
}
.vid3 {
    border: 2px solid green;
}

 @media (max-width: 767px) 
 {
 .video {
    display: inline;
    margin-top: 100px;

 }
 .vid1 {
    width: 371px;
    margin-left: -50px;
    margin-top: 100px;
 }
 .vid2 {
    width: 371px;
 }
 .vid3 {
    width: 371px;
    margin-top: 25px;
    margin-bottom: 25px;
 }
 .home {
    font-size: 1.8em;
 }
 .xsayzi {
    font-size: 5em;
 }
 
 }